.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-container {
  display: flex;
  width: 100%;
}

.dark-theme {
  color: white;
  background-color: #000;
}

.light-theme {
  color: black;
  background-color: #f0f0f0;
}
